%div{:id => "home"}
  %h1{:class => "page-title"}
    League of Legends - Champions

  - @champs.each do |champion|
    %div{:class => "champion", :id => "champion-#{champion.id}"}
      %h2{:class => "champion-name"}
        = champion.name
      %img(src="http://ddragon.leagueoflegends.com/cdn/6.20.1/img/champion/#{champion.key}.png")
      %p
        %a{:href => "champions/#{champion.id}"}detalhes