:css
  #champion {
    color: #333;
    display: inline-block;
    width: 200px;
  }
%h1 Champs List

- @champs.each do |key, val|
  %div{:id => "champion"}
    %span= val['id']
    %h2= val['name']
    %p= val['title']

